.buttonClicked{
    width: 150px;
    height: 50px;
    margin: 10px 0px;
    background-color: #3B60E4;
    color: white;
    border-radius: 10px;
    border: none;
    transition: .5s ease all;


    &:hover{
        transform: scale(1.05);
    }
    .icon{
        font-size: 40px;
        transition: ease all;
        animation-name: spin;
        animation-duration: 200ms;
        animation-iteration-count: 1;
        animation-timing-function: linear; 
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    }
}