.nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    // padding: 50px;
    padding: 20px 50px;
    height: 10vh;
    // background-color: #3B60E4;
    background-color: #363636;
    // background-color: black;
    .title{
        display: flex;
        justify-content: center;    
        align-items: center;
        padding: 30px;
        .name{
            font-size: 50px;
            font-weight: 600;
            text-decoration: none;
            color: white;
        }
    }
    .links{
        display: flex;
        justify-content: center;    
        align-items: center;
        padding: 30px;
        .link{
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: white;
            font-size: 40px;
            font-weight: 600;
            margin: 0px 10px;
        }
        .link:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 4px;
            bottom: 0;
            left: 0;
            background-color: white;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
          
          .link:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
    }
}