.projectCard{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: 10px;
    max-width: 400px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    transition: .5s ease all;
    a{
        text-decoration: none;
    }
    &:hover{
        transform: scale(1.02);
    }
    .cardTop{
        display: flex;
        max-height: 200px;
        img{
            object-fit: cover;
            width: 400px;
            min-height: 200px;
        }
    }
    .cardBottom{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50px;
        // padding: 10px;
        background-color: #f1e9db;
        .cardTitle{
            margin: 0px;
            color: black;
            font-size: 30px;
        }
    }
}